$palettes: (
  blue: (
    100: #5297FF,
    200: #147aea, // 중간 블루 
    207: #147aea12, // 
    210: rgba(20, 122, 234, 0.1), // 208?
    230: #147aea4d, // 연한 블루 0.3
    300: #107DFF,   // 인플스톡 블루 
    400: #4D77FF,   // 블루 + 퍼플 
    500: #3055D9,   // 진한 파랑 
    600: #385682,   // 다크 블루
    700: #2B3F6C,   // 다크 블루
    800: #757897,
  ),
  mute: (
    100: #FFFFFF,   // 흰색
    200: #F7F7F7,   // 
    300: #D9D9D9,   // 회색
    310: #D9D9D910,   // 회색
    400: #C9C9C9,   // 회색
    500: #C4C4C4,   // 회색
    600: #999999,   // 어두운 회색
    700: #898888,   // 조금 더 어두운 회색
    800: #4F4F4F,   // 덜 검은색
    900: #000000,   // 검정 
    901: #00000040, // 검정 
    925: rgba(0, 0, 0, 0.25),  // 검정 
    950: rgba(0, 0, 0, 0.5),  // 검정 
    975: rgba(0, 0, 0, 0.075)  // 검정 
  ),
  red: (
    100: #F61C7A,   // 핑크
    200: #EA526F,   // 네거티브
    300: #FF4F4F,   // 하트 빨강
    400: #FF0000,    // 진한 빨강
    407: #FF000012, // 
  ),
  green: (
    100: #00A28A, 
    200: #04A04C,  // 포즈티브
  ),
  yello: (
    100: #FEE500,
  )
);

:root {
  @each $colorname, $palette in $palettes {
      @each $key, $value in $palette {
          $keyname: "--palette-" + $colorname + "-" + $key;
          #{$keyname}: #{$value};
      }
  }
}